.btn
	color: black
	border: none
	font-size: 16px
	font-weight: bold
	text-transform: uppercase
	padding: 10px 15px
	border-radius: 5px
	transition: all .3s
	&:hover,&:focus
		color: black

.flex
	display: flex
	align-items: flex-start
	flex-wrap: wrap

.flex_space-between
	@extend .flex
	justify-content: space-between

.flex_centered
	@extend .flex
	align-items: center

.flex_stretch
	display: flex
	align-items: stretch
	flex-wrap: wrap

.relative
	position: relative

.socials
	display: flex
	a
		height: 39px
		width: 37px
		display: block
		background-size: cover
		padding: 0 !important
		border-top: 0 !important
		&:not(:last-child)
			margin-right: 1px

		// &._vk
		// 	background-image: url("../img/vk.png")
		// &._facebook
		// 	background-image: url("../img/facebook.png")
		// &._odnoklassniki
		// 	background-image: url("../img/odnoklassniki.png")
		// &._google
		// 	background-image: url("../img/google-plus.png")
		// &._twitter
		// 	background-image: url("../img/twitter.png")
		// &._in
		// 	background-image: url("../img/in.png")

.pagination
	display: flex
	margin: 75px 0 0
	a
		display: block
		width: 40px
		height: 40px
		line-height: 40px
		text-align: center
		color: #34383e
		font-size: 18px
		font-weight: 500
		border: 1px solid #d2d6dc
		&._current,&:hover
			border-color: #0e76bc
		&:not(:last-child)
			margin-right: 10px

.pagination--prev,.pagination--next
	background-color: #0e76bc
	border: 1px solid #0e76bc !important
	background-image: url("../img/pagination-prev.png")
	background-repeat: no-repeat
	background-position: 50% 50%

.pagination--next
	background-image: url("../img/pagination-next.png")

// .content

.breadcrumbs
	background: $grey
	padding: 8px 15px
	display: flex
	align-items: baseline
	a
		text-decoration: underline
		&._current
			color: #777777
			text-decoration: none

		&:not(:last-child)
			display: flex
			align-items: center
			&:after

				content: ""
				height: 6px
				width: 3px
				margin: 0 10px
				display: block
				background-image: url("../img/breadcrumbs-arrow_header.png")

	