header
	padding: 20px 0 40px

.header--link
	display: block
	text-align: right
	font-size: 13px
	&:not(:last-child)
		margin-bottom: 5px

.header--phone
	text-transform: uppercase
	text-align: center
	span
		font-weight: bold
		display: inline-block
		margin-right: 5px
		border-bottom: 2px solid $yellow

.header--title
	text-transform: uppercase
	margin: 42px 0 20px

.header--photo
	display: block
	border-radius: 50%
	img
		display: block
		border-radius: 50%
		transition: all .3s
		&:hover
			box-shadow: 0 0 3px 1px #ff4f18
