@font-face
	font-family: 'Intro'
	src: url("../fonts/intro.otf")

@import 'colors.sass'
@import 'mixins.sass'
@import 'classes.sass'

a
	color: initial
	&:hover,&:focus
		text-decoration: none
		transition: all 0.3s
		opacity: 0.8
		color: initial

body
	font-family: 'Roboto', sans-serif
	position: relative
	margin: 0

h1,h2,h3,h4,h5,h6
	font-family: 'Intro', sans-serif


.background
	width: 100%
	position: relative

.wrapper
	margin: 0 auto
	width: 1170px
	padding-left: 15px
	padding-right: 15px

.container-fluid
	padding-left: 0
	padding-right: 0


@import 'header.sass'
@import 'index.sass'
@import 'footer.sass'
