header.wrapper
	.row
		.flex_centered
			.col-xs-2
				a(href="#").header--logo
					img(src="img/logo.png")

			.col-xs-4.col-xs-offset-2
				.header--phone
					span служба поддержки:
					|+7 (495) 642-40-15

			.col-xs-2
				a(href="#").header--link Личный кабинет
				a(href="#").header--link Войти/Регистрация
			.col-xs-1
				a(href="#").header--photo
					img(src="img/user-photo.png")

	h1.header--title ип дынькин
	.breadcrumbs
		a(href="#") ИП Дынькин
		a(href="#")._current Настройка личного кабинета




