doctype html
html
	head
		title Bazar
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/lightslider.min.css")
		link(rel="stylesheet" href="css/style.css")
	body
		include jade-content/header.jade
		include jade-content/_index.jade
		include jade-content/footer.jade
					
		script(src="js/jquery-1.11.3.js")
		script(src="js/bootstrap.min.js")
		script(src="js/lightslider.min.js")
		script(src="js/main.js")
			
